.story {grid-area: story;}
.foot {grid-area: foot;}
.leftstory { grid-area: leftstory; }
.rightstory { grid-area: rightstory; }
.rightbutton { grid-area: rightbutton; }


.story-editor-container {
    display: grid;
    grid-template-rows: auto auto;	
    grid-template-areas: 
								'story'
								'foot';
    background-color: #FFFFFF;
    height: 88.5vh !important;
		margin-right: 8vw;
		margin-left: 8vw;
}

.story-container {
    display: grid;
    grid-template-columns: 25% auto;	
	grid-template-rows: 10% auto;
    grid-template-areas: 
								'leftstory rightbutton'
								'leftstory rightstory';						
    background-color: #FFFFFF;
	margin: 10px;
}

.story {
	display: inherit;
    background-color: #FFFFFF;
	position: relative;
	justify-content: center;
}

.story ol{
list-style: none;	
counter-reset: elementcounter;
/* padding: 10px;
margin: 0px;*/
}

.story-list li{
margin-top: 0px;
list-style: none;
}

.story-list li:first-child{
margin-top: 0px;
}

.story-list li:before{
	content: "Storia #" counter(elementcounter);
	counter-increment:elementcounter;
	font-weight: bold;
	font-size: 35px;
	margin-left: 20px;
}

.story-list li.editing{
border: 2px solid #ef562d;
border-radius: 5px;
}

/* di default casella di testo ausiliaria non mostrata */
.story-list li .edit{
display: none;
}

/*Mostra in modalita modifica*/
.story-list li.editing .edit{
display: block;
}

/* se in modalita modifca non mostrare */
.story-list li.editing .view{
	display: none;
}




.leftstory {
font-weight: bold;
}

.leftstory label {
margin-top: 10px;
}

.leftstory output {
	color: #ef562d;
	padding-left: 5px;
}

.leftstory img{
    min-height: 30vh;
    max-height: 30vh;
	max-width: 20vw;
	min-width: 20vw;
}

.leftstory img{
    min-height: 30vh;
    max-height: 30vh;
	max-width: 20vw;
	min-width: 20vw;
}

.leftstory span{
    color: #EF562D;
}

.rightbutton {
	text-align: right;
}

.rightbutton img{
    margin-left: 40px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.rightstory {
 padding-left:10%;
}

.rightstory textarea{
    min-height: 250px;
	width: 100%;
	border: none;
	overflow: auto;
	font-size: 20px;
	background-color: #ffffff;
}

.rightstory img{
	width: 30px;
	height: 30px;
}

.foot {
    background-color: #FFFFFF;
	padding-bottom:10px;
}

.foot > button {
	float: right;
	min-width:60px;
    color: #FFFFFF;
    border-color: #28a745;
    background-color: #28a745;
}


 .slider {
      width: 20vw;
	  height: 18px;
      -webkit-appearance: none;
      background-color: #ffffff;
	  border: 2px solid #d3d3d3;
      border-radius: 5px; 	  
	  overflow: hidden;
    }

.slider::-webkit-slider-thumb {
      -webkit-appearance: none;	
      width: 18px;
      height:18px;
      cursor: pointer;
      border: 3px solid #d3d3d3; 	  
      border-radius: 5px;	  
      background: #ef562d;
      box-shadow: -20vw 0 0 19.8vw #ef562d;	 

    }










#stories { position: fixed; bottom: 0px; right: 240px; }

.story-image img{
    min-height: 27vh;
    max-height: 27vh;
	max-width: 18vw;
	min-width: 18vw;	
	}

.story-content textarea{
    min-height: 250px;
	min-width: 400px;
	border: none;
	overflow: auto;
	font-size: 15px;
	background-color: #ffffff;
}

.story-image {
	float:left;
	min-height: 150px;
}

.story-content {

}

.stories-list {
	list-style: none;	
}

.stories-list li{
	margin-top: 10px;	
}
.story-wrapper{
	width: 100%;
}