.leftbar { grid-area: leftbar; }
.rightbar { grid-area: rightbar; }
.scene { grid-area: scene; }
.canvas { grid-area: canvas; }
.topbar {grid-area: topbar;}

.grid-container {
    display: grid;
    grid-template-columns: 15% auto auto 15%;
    grid-template-rows: 10% auto 30%;
    grid-template-areas:
            'topbar topbar topbar topbar'
            'leftbar scene scene rightbar'
            'leftbar canvas canvas rightbar';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    height: 95vh;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;

}

.scene{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene > img{
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.list-img{
    width: 100%;
    max-width: 150px;
    max-height: 75px;
    position: relative;
}

/*prove pop up*/
.modal {
    font-size: 12px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.pop-button{
    border-radius: 8px;
    border-color: #0A0A0A;
}

.topbar{
    display: flex;
}