.leftbar { grid-area: leftbar; }
.rightbar { grid-area: rightbar; }
.scene { grid-area: scene; }
.rules {
    grid-area: rules;
    position: relative;
}
.topbar {grid-area: topbar;}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'playregular';
    src: url('play-regular-webfont.woff2') format('woff2'),
    url('play-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('lato-light-webfont.woff2') format('woff2'),
    url('lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff2') format('woff2'),
    url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

div.rules{
    font-size: 0.8em!important;
}

.rules-editor{
    width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.grid-container{
    grid-template-areas:
            'leftbar scene rightbar'
            'leftbar rules rightbar';
}

.expanded{
    grid-template-areas:
            'leftbar rules rightbar'
            'leftbar rules rightbar' !important;
}


@media screen and (min-width: 1400px) {
    .grid-container {
    display: grid;
        grid-template-columns: 15% auto 20%;
        grid-template-rows: 55% 45%;
        grid-gap: 1px;
        padding: 1px;
        background-color: #ADB0B1;
        min-height: 85vh;
        box-sizing: border-box;
    }

    body{
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 1400px) {
    body {
        width: 1400px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 210px auto 280px;
        grid-template-rows: 55% 45%;
        grid-gap: 1px;
        padding: 1px;
        background-color: #ADB0B1;
        min-height: 85vh;
        max-height: 85vh;
        box-sizing: border-box;
    }

    .leftbar, .rightbar, .scene {
        border: solid 1px darkgrey;
    }
}

.leftbar, .rightbar{
    min-height: 85vh;
    max-height: 85vh;
}

.grid-container > .rules {
    max-height: 40vh;
}

.expanded > .rules{
    height: 100%;
    max-height:85vh !important;
}

.topbar{
    box-sizing: border-box;
    min-height: 120px;
    max-height: 160px;
}

.grid-container > div {
    background-color: #EFF0F0;
    text-align: center;
    font-size: 16px;

}
.grid-container > .topbar{
    background-color: #FFFFFF;
}

.grid-container > .scene{
    background-color: #FFFFFF;
}

.navbar{
    justify-content: left;
}

.navbar-toggler {
    margin-left: 5px;
    margin-right: 5px;
    font-family: latoregular;
    font-size: 16px;
}


.rules{
    overflow-y: hidden;
    overflow-x: hidden;
}

.expand-btn{
    position: absolute;
    top: 0;
    left: 5px;
    z-index:20;
}

.expand-btn:hover{
    cursor:pointer;
}

.scene{
    align-items: center;
    justify-content: center;
    position: relative;
}

.scene > img, .scene > video{
    box-sizing: border-box;
    transition: .1s ease;
    backface-visibility: hidden;
    width: 100%;
    align-self: center;
    min-height: 100%;
    max-height: 100%;
    z-index: 1;
}

.scene > canvas {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.list-img, .list-video {
    width: 100%;
    height: 100%;
    max-height: 100px;
}

.list-img:hover, .nav-figures:hover {
    cursor: pointer;
}

/** MODAL BOXES **/

.modal {
    font-size: 0.9em;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.modalOptions > label{
    font-size: 20px;
    width: 100%;
}
.modalOptions > select{
    width: 20%;
    height: 26px;
}

#scene_name{
    background-color: #FFFFFF;
    border: 1px solid darkgrey;
    height: 26px;
}

.input-new-scene {
    padding: 2px 5px 2px 2px;
}

#select-file-container {
    display: inline-flex;
    width: 100%;
    height: 30px;
}

#file-selected-name, .file-selected-name {
    border: solid 1px darkgrey;
    background-color: white;
    height: 30px;
    margin-bottom: 0 !important;
    padding: 5px;
}

.select-file-btn {
    padding: 0 5px 0 5px;
}

.modal-footer{
    display: inline;
}

.pop-button{
    border-radius: 5px;
}

.topbar{
    display: block;
}

.leftbar, .rightbar{
    overflow-y: auto;
}

.rightbar > a, .leftbar > a{
    font-size: 1em;

}

.rightbar > div, .leftbar > div{
    font-size: 0.85em;
}


.currentOptions {
    width: 95%;
    display: inline-block;
}

#addSceneDiv{
    display: flex;
}

.propertyForm, .propertyForm-right{
    background-color: #FFFFFF;
    border: 1px solid darkgrey;
    padding: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.propertyForm-right-number{
    width: 30%;
}

.propertyForm {
    text-align: left;
}

.propertyForm-right {
    text-align: right;
}

#select-scene-type-rightbar{
    height: 100%;
}

.options-labels, .measure-units{
    margin:0;
    padding-top: 5px;
}

.selected-filter{
    background-color: darkgrey !important;
    border-color: darkgrey !important;
}

#transitionDuration, #point-of-interest-delay {
    padding: 5px;
    width: 50%;
}

.figure-grid {
    display: grid;
    grid-template-columns: 40% auto;
    margin-bottom: 10px;
}

.rightbar-img {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

.figure-grid > p {
    margin: auto;
    font-weight: bold;
}


.navbar-brand{
    font-size: 22px;
    border: none;
    background: none;
    background-color: #FFFFFF;
    color: #EF562D !important;
    font-family: playregular;
    cursor: pointer;
}

#topbar-game-title{
    position: absolute;
    right: 10px;
    z-index: -1;
}

.navbar-toggler{
    background-color: #EF562D;
    color: #FFFFFF !important;

}
.navbar-toggler:hover{
    background-color: #8C9093;
}

.nav-item{
    border-radius: .25rem;
    text-align: center;
}

.buttonConferm{
    color: #FFFFFF;
    border-color: #DD4124;
    background-color: #EF562D;
    width: 40%;
}

.rules{
    font-size: 20px;
    font-family: latoregular;
}

.node_element{
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    width: 80%;
}
/*
.node_element > label{
    display: inline-block;
    font-size: 25px;
    font-family: Arial, sans-serif;
}
*/


.btn{
    color: #FFFFFF;
    border-color: #EF562D;
    background-color: #EF562D;
}


.btn:enabled:hover{
    background-color: #ff724f;
    border-color: #ff724f;
}


.btn:disabled{
    background-color: grey;
    cursor: auto;
    border-color: grey;
}


.custom-select{
    border-color: #EF562D;
}

.hidden-inputs {
    display: none;
}

/* Geometry Scene */
#UI{
    margin-right:auto;
    margin-left:auto;
}

#keyMap{
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.6);
    top: 1rem;
    z-index: 99999;
    height: 6rem;
    width: 52rem;
    border-radius: 20px;
}

#keyMap h1{
    margin-top:20px;
    text-align: center;
    color: white;
    font-size: 25px;
}

.keyElements li{
    display: inline-block;
    margin-left: 1rem;
    color: white;
    text-align: left;
}

.video_element {
    max-width: 100%;
    max-height: 100%;
}

.video_element:hover{
    cursor: pointer;
}

.debug-disabled, .debug-disabled.active{
    opacity: 0.5;
    cursor: auto;
    background-color: #EF562D !important;
    color: white !important;
}

.nav-link{
    background-color: #EF562D;
    color: #FFFFFF;
}

.nav-link:hover{
    color: #FFFFFF;
}

#ruleObjSelection{
    border: 1px solid #EF562D;
    border-radius: 5px;
    width: 30%;
}

.action-buttons{
    width: 20px;
    height: 20px;
}

.action-buttons-container{
    border: solid 1px #8C9093;
    border-radius: .25rem;
    background-color: transparent;
    margin-right: 3px;
}

.action-buttons-container:disabled {
    border-color: darkgrey;
}

.action-buttons-container:disabled > img {
    opacity: 0.5;
}

.action-buttons-container:enabled:hover, .objects-wrapper > .action-buttons:hover {
    cursor: pointer;
    background-color: #8C9093;
}

.buttonGroup{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid darkgrey;
    position: relative;
}

.buttonGroup-bar {
    display: flex;
}

.navbar-brand{
    margin-left: 1rem;
}

.nav-item {
    height: 50px;
    font-size: 1em !important;
    font-weight: bold;
}

.tab-content {
    width: 100%;
    height: 100%;
    font-size: 0.9em !important;
    padding-top: 1.5vh;
    box-sizing: border-box;
}

.flex-container, .flex{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.flex-container p, li{
    padding-left: 5px;
    padding-right: 50px;
}

.tab-pane{
    height: 88px;
    overflow-y:auto;
    width:100%;
}

.nav-figures{
    border: 1px solid #FFFFFF;
    flex-wrap: nowrap;
    max-width: 8%;
    min-width: 5%;
    margin-left: 2%;
    margin-right: 1%;
    border-left: 5px;
    border-right: 5px;
    height: 80%;
    text-align: center;
    font-size: 0.7em !important;
}

.nav-figures > img {
    max-height: 50px;
    max-width: 50px;
}

figcaption {
    padding-top: 5px;
}


.list-img {
    opacity: 1;
    transition: .1s ease;
    backface-visibility: hidden;
}

.list-labels {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.list-labels {
    transition: .5s ease;
}

.node_element:hover .list-img {
    opacity: 0.8;
}
.node_element:hover .list-labels {
    opacity: 1;
}

.label-text {
    background-color: #000000;
    opacity: 1;
    color: white;
    font-size: 0.9em;
}

/* Actions reprentation in rules editor */

.single-action {
    font-size: 0.7em;
    width: 90%;
    margin-left: 5%;
    text-align: left;
}

.single-action > button {
    margin-left: 1%;
}

/* Rightbar objects */

.objects-wrapper > button { grid-area: button}
.objects-wrapper > p {grid-area: object-name}

.objects-wrapper {
    display: grid;
    width: 100%;
    margin: 0;
    padding: 0;
    grid-template-columns: 80% 20%;
    grid-template-areas:
            'object-name button';
}

#objectName{
    margin-bottom: 5px;
    width: 100%;
}

.objects-wrapper > p, .objects-wrapper-no-buttons > p {
    word-break: break-all;
    text-align: left;
    margin-bottom: 0px;
    padding-bottom: 2px;
}

.objects-wrapper > .action-buttons-container{
    max-height: 40px;
    max-width: 40px;
}

.objectsList-element:hover, .objectsList-element-delete-button:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;
}

/* Rightbar buttons */

#nav-tab-scene { grid-area: scene; border-right: 1px solid #8C9093; }
#nav-tab-objects { grid-area: objects; }

#nav-rightbar {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'scene objects';
}

.nav-tab-rightbar {
    width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}

.inactive:hover {
    background-color: rgba(0, 0, 0, .1);
}

.inactive {
    background-color: white;
    border-bottom: 1px solid #8C9093;
    font-weight: normal;
}

/* Centroids icons */

.icons {
    margin-top: -25px;
    margin-left: -25px;
    position: absolute;
    z-index: 1;
}

.icons-img {
    background-color: rgba(255, 255, 255, .4);
    width: 50px;
    height: 50px;
}

.icons-img:hover{
    background-color: rgba(239, 86, 45, .3);
}

.icons-labels {
    color: white;
    font-size: 0.6em;
    text-shadow:
            2px 0 2px black,
            -2px 0 2px black,
            0 2px 2px black,
            0 -2px 2px black;
}

/* Dropdown menu leftbar and tags */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border: 1px #DD4124 solid;
    z-index: 2;
    cursor: pointer;
}

.dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

#select-leftbar, #scene-filter-text {
    width: 100%;
}

.show {
    display:block;
}

.order-selected {
    background-color: rgba(239, 86, 45, .5);
}

.tag-manager-btn {
    color: white;
    background-color: #EF562D;
    border-color: #DD4124;
    margin-right: 1%;
}

.tag-manager-btn:hover {
    background-color: #EF562D;
    border-color: #DD4124;
}


/** FILE MANAGER **/

.filemanager{
    height: 80vh;
    box-sizing: border-box;
}

/** TAG FORM, AUDIO FORM **/

#tag-box, #audio-box {
    border: solid darkgrey 1px;
    height: 30em;
    overflow-y: auto;
}

.tag-element, #add-tag {
    position: relative;
}

#add-tag {
    margin-top: 5%;
}

.tag-element-color, #tag-add-color {
    min-height: 100%;
    padding: 0;
}

.tag-element-text, #tag-add-text {
    margin-left: 1%;
    margin-right: 1%;
    width: 80%;
    word-break: break-all;
}

#tag-search {
    width: 100%;
}

#tag-add-text, .tag-element-text {
    font-size: 0.9em;
}

.tag-remove-button, .tag-form-button {
    background-color: #EF562D;
    border: 1px solid white;
    border-radius: 5px;
    position:absolute;
    height: 100%;
    right: 0;
    margin-right: 0;
}

.tag-remove-button:hover {
    cursor: pointer;
    background-color: darkgrey;
}

#audio-box, #audio-search {
    width: 95%;
}


#audio-form-general {
    height: 70%;
}

#audio-form-play {
    height: 30%;
}

#modal-body-audio {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-areas: 'left right';
    width: 100%;
}

.box-grid, .rightbar-grid {
    display: grid;
    grid-template-areas: 'left right';
    grid-template-rows: 30px;
    grid-gap: 10px;
    width: 100%;
}

.box-grid {
    grid-template-columns: 65% 35%;
}


.rightbar-grid {
    grid-template-columns: 70% auto;
    margin-bottom: 5px;
}

.audio-list-box-btns{
    display: flex;
    margin-bottom: 5px;
}

.audio-list-box-btns > button {
    margin-right: 5px;
}

.audio-list-box{
    height: 100px;
    overflow-y: scroll;
    border: solid 1px darkgrey;
    background-color: white;
}

.audio-list-element, .no-audio {
    padding: 2px;
    border-bottom: dotted 1px darkgrey;
    text-align: left;
    margin-bottom: 0;
}

.audio-list-element:hover{
    background-color: #FFD8AC;
}

.no-audio{
    color: darkgrey;
    text-align: center !important;
}

.show-btns > button {
    visibility: visible !important;
}

.media-grid, .options-grid {
    display: grid;
    grid-template-rows: 30px;
    width: 100%;
    margin-bottom: 10px;
}

.media-grid {
    grid-template-columns: 65% auto auto;
    grid-gap: 10px;
}


.options-grid {
    grid-template-columns: 35% auto;
    grid-gap: 10px;
}

.rightbar-audio-media-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 35% auto;
    border-right:solid 1px darkgrey;
    border-left:solid 1px darkgrey;
    border-top:solid 1px darkgrey;
    margin-bottom: 5px;
}

.rightbar-audio-media-grid-title, .rightbar-audio-media-grid-value {
    background-color: white;
    margin-bottom: 0;
    text-align:left;
    padding:2px;
}

.rightbar-audio-media-grid-title {
    border-right: dotted 1px darkgrey;
    padding-bottom: 0;
    border-bottom: solid 1px darkgrey;
}

.no-bottom-border {
    border-bottom: none !important;
}

.rightbar-btn{
    font-size: 0.9em;
}

#select-file-btn-audio-form, .scene-grid > button, .position-btn {
    width: 60%;
}

.position-btn{
    padding: 0;
}

#modal-content-audio{
    width: 120%;
}

.audio-btn {
    width: 100%;
    margin-top: 5%;
    font-size: 0.8em;
    position: relative;
}

.audio-btn > img {
    position: absolute;
    left: 5px;
}

#remove-audio-btn {
    margin-top: 10%;
}

#audio-form-box {
    min-height: 30em;
}

.audio-form-box-section, .box-grid{
    margin-bottom: 15px;
}

.box-titles {
    color: grey;
    border-bottom: 1px solid darkgrey;
    width: 100%;
    margin-bottom: 10px;
    font-size: 1em;
}

.rightbar-titles {
    color: grey;
    border-bottom: 1px solid darkgrey;
    width: 100%;
    margin-bottom: 5px;
    font-size: 0.8em !important;
    text-align: left;
}

.input-audio-form {
    width: 100%;
    padding: 5px;
}

.input-new-audio-file {
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
}

.radio-audio-form, .checkbox-audio-form {
    margin-right: 5px;
}

.label-audio-form {
    margin-right: 10px;
}

.audio-names:hover, .selected-audio{
    background-color: #FFD8AC;
}

.audio-names {
    padding-left: 5px;
    margin-bottom: 0;
    border-bottom: dotted 1px darkgrey;
}


/** TAG DROPDOWN REPRISE **/

.wrapper-dropdown-tags {
    position:relative;
    background-color: white;
    padding: 5px;
    margin: 0;
    border: solid 1px darkgrey;
}

.chosen-tag-rightbar, .chosen-tag-topbar {
    position: relative;
    cursor: pointer;
}


.arrow {
    border: solid darkgrey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: absolute;
    right: 5px;
}

.arrow-up{
    top: 30%;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow-down{
    top: 15%;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.chosen-tag-rightbar > p, .chosen-tag-topbar > p {
    margin-left: 40px;
    margin-bottom: 0;
    pointer-events: none;
}

.wrapper-dropdown-tags > ul {
    position: absolute;
    left: -1px;
    width: 100%;
    margin: 0;
    z-index: 2;
    max-height: 400px;
    background-color: white;
    border: solid 1px darkgrey;
}

.wrapper-dropdown-tags > ul > li {
    padding: 2px;
    position: relative;
    list-style: none;
    border-bottom: 1px solid darkgrey;
}

.wrapper-dropdown-tags > ul > li:hover {
    background-color: darkgrey;
}

li > span, .chosen-tag-rightbar > p > span, .chosen-tag-topbar > p > span {
    position: absolute;
    height: 10px;
    width: 20px;
    padding: 10px;
}

li > span {
    left: -30px;
}

.chosen-tag-rightbar > p > span,
.chosen-tag-topbar > p > span {
    left: 0;
}

.hide-tags, .hide {
    display: none;
}

.show-tags {
    display: block;
}

.tags-input-scene {
    width: 100%;
    display: inline-block;
}

.tags-input-scene {
    width: 20%;
}


/* mention */

.mention {
    color: #4a85bb;
    text-decoration: none;
}

.mentionSuggestions {
    border-top: 1px solid #eee;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transform-origin: 50% 0%;
    transform: scaleY(0);
    margin: -16px;
}

.mentionSuggestionsEntryContainer {
    display: table;
    width: 100%;
}

.mentionSuggestionsEntryContainerLeft,
.mentionSuggestionsEntryContainerRight {
    display: table-cell;
    vertical-align: middle;
}

.mentionSuggestionsEntryContainerRight {
    width: 100%;
    padding-left: 8px;
}

.mentionSuggestionsEntry {
    padding: 7px 10px 3px 10px;
    transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
}

.mentionSuggestionsEntry:active {
    background-color: #cce7ff;
}

.mentionSuggestionsEntryFocused {
    padding: 7px 10px 3px 10px;
    transition: background-color 0.4s cubic-bezier(.27,1.27,.48,.56);
    background-color: #e6f3ff;
}

.mentionSuggestionsEntryText,
.mentionSuggestionsEntryTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.mentionSuggestionsEntryTitle {
    font-size: 80%;
    color: #a7a7a7;
}

.mentionSuggestionsEntryAvatar {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

/* editor styles */

.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    font-size: 0.4em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}

.public-DraftEditor-content > div > div {
    display: flex;
}

.mediaBtn {
    margin-top: 15px;
}

/* EUD EDITOR */


.eudRulePart {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.eudCompletionRoot {
    position: relative;
}

.eudCompletionPopup, .eudCompletionPopupForGraph  {
    margin-top: 2px;
    position: absolute;
    left: 0px;
    right:0px;
    z-index: 1000;
    border: solid 1px darkgrey;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    max-height: 100px;
    overflow: scroll;
    width: 400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%)

}

.eudCompletionPopup ul{
    text-align: center;
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

.eudCompletionPopup span{
    text-align: left;
    display: block;
    list-style: none;
    padding-left: 5px;
    margin-left: 5px;
}

.eudCompletionPopup span:hover{
    text-align: left;
    list-style: none;
    cursor: default;
}

.eudCompletionPopup li:hover{
    background-color: #FFD8AC;
}

.eudCompletionPopupForGraph ul{
    text-align: left;
    list-style: none;
    padding-left: 15px;
    margin-left: 15px;
    margin-bottom: auto;
}

.eudCompletionPopupForGraph span{
    text-align: left;
    display: block;
    list-style: none;
    padding-left: 5px;
    margin-left: 5px;
}

.dropdown-header li{
    text-align: left;
    display: block;
    list-style: none;
    padding-left: 5px;
    margin-left: 5px;
}
.line {
    width: 90%;;
    height: 0;
    border: 1px solid #C4C4C4;
    margin: 3px;
    display:inline-block;
}

.eudCompletionPopupForGraph span:hover{
      text-align: left;
      list-style: none;
      cursor: default;
}

.eudCompletionPopupForGraph li:hover{
    background-color: #FFD8AC;
}

span.eudObjectString {
    position: relative;
    display: inline-block;
    min-width: 50px;
    width:100%;
}

span.eudObjectString > span{
    visibility: hidden;
    display: inline-block;
    min-width: 50px;
    width:100%;
}

input.eudObjectString[type=text] {
    position: absolute;
    display:inline-block;
    left:0px;
    right:0px;
    border:0px;
    overflow: no-display;
    width: 100%;
    min-width: 50px;
    color: #EF562D;
    background-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
}

.eudObjectButton{
    display: inline-block;
    position: absolute;
    right: 2px;
    width: 22px;
    height: 22px;
    box-sizing: border-box;
    border-radius: 22px;
    padding: 0px;
    border: 0px solid transparent;
    background-color: transparent;
}

.eudFloating{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: white;
    text-align: center;
}

/* NAVBAR REGOLE */

.eudBar {
    background-color: white;
    text-align: center;
    position: relative;
    height: 5%;
    min-height: 20px;
    border-bottom: 1px solid darkgrey;
}

.eudBar > h2{
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    width: 100%;
    top: 2px;
    height: 80%;
    margin: 0 !important;
}

#rule-editor-btns > button{
    font-size: 0.9em;
    min-height: 20px;
    max-height: 100%;
    margin-left: 10px;
}

#rule-editor-btns > button:active:hover{
    cursor:pointer;
}

#rule-editor-btns >button:disabled > img{
    opacity: 0.5;
}


#rule-editor-btns{
    position: absolute;
    right: 0;
    top: 0;
    right: 5px;
    display:  flex;
    min-height: 20px;
    max-height: 100%;
    max-height: 5%;
}


.eudHide{
    display: none;
}

.eudRule{
   display: grid;
    grid-template-columns: 125px auto 5px 35px 5px;
    width: 100%;
    text-align: left;
}

.eudWhen, .eudThen, .eudIf {
    grid-column: 1;
    box-sizing: border-box;
    text-align: right;
    padding-right: 25px;
    padding-left: 5px;
    max-width: 100px;
    margin-top: 5px;
    position: relative;
}

.eudName{
    font-size: 15px;
    grid-column: 2;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 5px;
    text-align: center;
}

h6 {
    font-size: 15px;
    margin-top: 3%;
    margin-bottom: 2%;
}

.eudThen, .eudIf{
    padding-left: 25px;
}

.eudAction{
    grid-column: 2;
    display: inline-block;
    box-sizing: border-box;
    margin-top: 5px;
}

.eudsubject{
    margin-right: 5%;
}

.eudoperation, .eudoperator{

    margin-right: 5%;
}

.eudobject, .eudoperation, .eudsubject, .eudoperator, .eudvalue {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
    border:1px solid black;
    border-radius: 5px;
    background-color: white;
}

.eudInputBox{
    display: inline-block;
    width: 100%;
}

.eudDelete{
    grid-column: 2;
}

.eudDeleteAction, .eudDeleteCondition{
    display: inline-block;
    box-sizing: border-box;
    margin-top: 4px;
    grid-column: 4;
}


.eudHidden{
    visibility: hidden;
}


.rules-footer, .rightbar-footer {
    height: 10em;
}

.rule-container{
    box-sizing: border-box;
    position:relative;
    height: 100%;
    min-height: 100%;

}

.rule-editor{
    box-sizing: border-box;
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: white;
}

.eudHighlight{
    background-color: #FFD8AC;
}

.eudAction > button{
    border-color: black;
    background-color: #ededed;
}

.eudWhen:after,
.eudThen:after,
.eudIf:after,
.eudsubject:after,
.eudoperation:after,
.eudoperator:after
{
    content:'';
    width:5em;/* size of your margin */
    border-bottom:1px solid;
    position:absolute;
    top:50%;
}

.eudOperator{
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    color: #ef562d;
}

/* LOGIN FORM */

.login-btn {
    width: 50%;
}

#register-link, #logout-link, #gameId-link {
    color: #EF562D;
    text-decoration: underline #EF562D;
}

#register-link:hover, #logout-link:hover, #gameId-link:hover{
    cursor: pointer;
}

.loginlabel{
    text-align: center;
}

.login-home{
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 450px;
    height: 500px;
    border: solid 1.5px #EF562D;
    border-radius: 20px;
}

.gameList{
    border: solid 1px darkgrey;
    overflow-y: auto;
    position: relative;
    height: 100%;
    margin-bottom: 10px;
}

.game-item-wrapper{
    display: grid;
    grid-template-columns: 85% auto;
}

.game-item {
    width: 100%;
    border-bottom: solid 1px darkgrey;
    padding: 2px;
}

.game-item:hover{
    background-color: #FFD8AC;
    cursor: pointer;
}

.game-btns {
    position: absolute;
    right: 0;
}

/** GENERIC DROPDOWNS WITH REACT-SELECT **/

.react-select {
    max-height: 30px;
    border-radius: 0;
}

.react-select > div > div, .react-select > div > div > div {
    padding: 1px 2px 2px 2px;;
}

.ellipsis, .ellipsis-no-inline {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.ellipsis {
    display: inline-block;
}

/*TODO [debug] add to origin master*/
.debug-div {
    height: 100%;
    padding: 1% 3%;
}

.rightbar-debug-element {
    grid-column: 1;
    width: 100%;
    padding: 1% 0%;
    text-align: left;
    display: inline-table;
}

.icon-obj-left {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.current-obj-name {
    float: inherit;
}

.obj-name {
    text-align: left;
    margin-left: 5%;
    font-size: 0.9em;
    padding-top: 0.4em;
}

.other-obj-name {
    float: inherit;
}

.icon-obj-right {
    width: 25px;
    height: 25px;
    margin-right: 6%;
    float: right;
    padding: 1%;
}
.icon-obj-right:hover {
    border-radius: 5px;
    background-color: rgba(239, 86, 45, .3);
    padding: 0%;
}

.rightbar-sections {
    display: grid;
    grid-template-areas: 'left right';
    grid-template-rows: 30px;
    grid-gap: 10px;
    width: 100%;
    grid-template-columns: 20% auto 25%;
    margin-top: 2%;
    padding-left: 3%;
    cursor: pointer;
}

.rightbar-sections > span:hover{
    color: rgb(239, 142, 113);
}

.debug-div h2 {
    padding-bottom: 1%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 1.1em;
    font-weight: bold;
}

#searchBar {
    padding-left: 3%;
    font-size: 0.7em;
    width: 70%;
    height: 3em;
}

.rightbar-other-scene {
    margin-bottom: 5%;

}

.rightbar-scene-name {
    font-size: 0.9em;
    font-weight: bold;
}

.objs-element {
    display: block;
}

.player-div {
    width: 100%;
    padding-left: 3%;
    float: left;
}

.player-action {
    float: left;
    font-size: 1em;
}

.player-obj {
    float: left;
    margin-left: 5%;
    padding-top: 0.1em;
    font-size: 0.9em;
    text-align: left;
}

.player-obj:hover {
    cursor: pointer;
    color: rgb(249, 152, 123);
}

.obj-props {
    grid-column: 1;
    text-align: left;
    width: 100%;
}

.obj-props > span {
    margin-left: 5%;
}

#debug-scene {
    height: 100%;
}

.eudNext {
    visibility: hidden;
    font-size: 0.5em;
    grid-column: 2;
    display: inline-block;
    grid-template-columns: auto auto;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: right;
}

#nav-tab-scenes { grid-area: scenes; border-right: 1px solid #8C9093; }
#nav-tab-saves { grid-area: saves; }

#nav-leftbar {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 'scenes saves';
}


.list-saves-img {
    width: 100%;
    max-width: 150px;
    max-height: 75px;
    position: relative;
}

.saves-list {
    width: auto;
    font-size: 13px;
    padding: 4%;
    margin-top: 3%;
    margin-left: -13%;
    margin-right: -13%;
    text-align: center;
    cursor: pointer;
}

.saves-list:hover {
    color: #EF562D;
}

.load-button {
    visibility: hidden;
    float: right;
    margin-right: -42%;
    height: 20px;
    width: 57px;
    font-size: 12px;
}

.rightbar-checkbox {
    text-align: left;
    padding-left: 5px;
}

.rightbar-checkbox>input{
    padding-top: 5px;
}

textarea {
    resize: none;
    width: 100%;
    height: 10em;
    padding: 5px;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.rich-text-buttons-active {
    border-color: #ef562d;
}

.modal-backdrop {background: none;}

/**SLIDER**/

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.rightbar-footer{
    height: 100px;
}




/********* END debug css ************/