.leftbar { grid-area: leftbar; }
.rightbar { grid-area: rightbar; }
.scene { grid-area: scene; }
.canvas { grid-area: canvas; }
.topbar {grid-area: topbar;}


@font-face {
    font-family: 'playregular';
    src: url('play-regular-webfont.woff2') format('woff2'),
    url('play-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.grid-container {
    display: grid;
    grid-template-columns: 15% auto auto 15%;
    grid-template-rows: 10vh 60vh 30%;
    grid-template-areas:
            'topbar topbar topbar topbar'
            'leftbar scene scene rightbar'
            'leftbar canvas canvas rightbar';
    grid-gap: 1.5px;
    padding: 1px;
    background-color: #ADB0B1;
    min-height: 99vh;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;

}
.grid-container > .topbar{
    background-color: #FFFFFF;
}

.grid-container > .scene{
    background-color: #FFFFFF;
}

.navbar{
    justify-content: left;

}

.navbar-toggler{
    margin-left: 5px;
    margin-right: 5px;
    font-family: playregular;
}

.scene{
    display: flex;
    align-items: center;
    justify-content: center;
}

.scene > img{
    max-width: 100%;
    max-height: 100%;
    align-self: center;
}

.list-img{
    width: 100%;
    max-width: 150px;
    max-height: 75px;
    position: relative;
}

.list-img:hover{
    cursor: pointer;
}

/*prove pop up*/
.modal {
    font-size: 12px;
}
.modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
.modal > .content {
    width: 100%;
    padding: 10px 5px;
}
.modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
}
.modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
}

.pop-button{
    border-radius: 5px;
}

.topbar{
    display: block;
}

/*prove rightbar*/
.rightbar > a{
    font-size: 20px;
}

.rightbar > div{
    font-size: 15px;
}

.currentObjectOptions label {
    font-size: 20px;
    width: 100%;
}

.currentObjectOptions{
    width: 80%;
    display: inline-block;
}
.currentObjectOptions > button{
    min-width: 80%;
}

.rotationInput{
    width: 30px;
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    padding: 3px;
}

.transitionInput{
    max-width: 50%;
}

#addSceneDiv{
    display: flex;
}

#leftbar{
    overflow: scroll;
}

/*prove rightbar*/
.propertyForm{

    margin-right: auto;
    margin-left: auto;
    background-color: #FFFFFF;
    border: 1px solid #EF562D;
    border-radius: 5px;
}


.navbar-brand{
    font-size: 22px;
    background-color: #FFFFFF;
    color: #EF562D !important;
    font-family: playregular;
}

.navbar-toggler{
    background-color: #EF562D;
    color: #FFFFFF !important;

}
.nav-item{
    border-radius: 10px;
    text-align: center;
}

.buttonClose{
    border-color: #E4002B;
    background-color: #E4002B;
}

.buttonConferm{
    background-color: #2DC84D;
}

.geometryBtn:hover{
    background-color: #EF562D;
    cursor: pointer;
    color: #FFFFFF;
}

.rules{
    font-size: 25px;
}

.node_element{
    display: inline-block;
    margin: 11px;
}

.btn{
    color: #FFFFFF;
    border-color: #DD4124;
    background-color: #EF562D;
}
.objectsList-element{
    margin-top: 5px;
}
.objectsList-element:hover{
    background-color: #EF562D;
    border: solid #EF562D 2px;
    cursor: pointer;
    color: #FFFFFF;
}